.btn-social {
  background-color: transparent;
  color: #fff;
  border-radius: 100%;
  margin: 0 0.2rem;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;

  svg {
    font-size: 2rem;
    align-self: center;
  }
}
